# specific .gitignore for this directory

# ignore everything
*

# except the explaining README
!README
# and this .gitignore
!.gitignore

# do NOT ignore the static directory
!static
# but everything inside it
static/*
# except the README
!static/README
!static/web
!static/web/*

# do NOT ignore the media directory
!media
# but everything inside it
media/*
# except the README
!media/README
!media/web
!media/web/*
!media/public/weblogo.png
!fixtures
!fixtures/*
!fixtures/initial_data/*
!fixtures/test_data/*

