<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#99FB4D" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @media only screen and (max-width: 600px) {
            h4 {
                font-size: 12px;
            }

            p {
                font-size: 10px;
            }
        }
    </style>
</head>

<body style="background-color: #EBFAFF;line-height: 1.5;color: #3B4E56;font-family: Roboto;">
    <div style=" display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  ">
        <div style="background-color: #151542;
        color: #fff;
        padding: 25px 30px;
        border-radius: 22px;
        text-align: center;
        width: 96%;">
            <img src="https://i.ibb.co/ZT7qLnW/email.png" style="width: 60px;
            height: 60px;" />
            <h4 style="color: #fff; margin-top: 10px; margin-bottom: 10px;">Reset Password</h4>
            <p style="margin-top: 10px;">Tap the button below to reset your password. If you didn't request with {{website_name }} account.

            </p>
            <p style="margin-top: 10px;">If you didn't request to reset password in <a href="{{ website_url }}" style="color: #25AAE1;
                text-decoration: none;">{{ website_name }}</a>, you can safely delete this email.</p>
            <div style="text-align: center; margin-top: 10px;">
                <a href="{{ confirm_path }}" style="display: inline-block;
                background-color: #99FB4D;
                color: #fff;

                padding: 10px 40px;
                text-decoration: none;
                border-radius: 10px;
                width: 80%;" test_id='token_route'>Reset Password</a>
            </div>
            <div style="text-align: left;">
                <p>
                    {{ website_name }}<br />
                    Support Team
                </p>
            </div>
        </div>
    </div>
</body>

</html>